.header {
  padding: 20px;
  display: flex;
  justify-content: flex-start,; /* Align logo and nav */
  align-items: center; /* Vertical alignment */
}

.logo h1 {
  color: #93bc8b;
  font-size: 2em;
  margin: 0;
  font-weight: bold;
}

.nav {
  display: flex;
  font-size: larger;
  gap: 20px;
  padding: 40px;
}

.nav a {
  text-decoration: none;
  color: #93bc8b;
  font-weight: bold;
}